.vh-100{
    height: 88vh !important;
}
.nav{
    height: 70px !important;
    position: relative;
}
.image1{
    position: absolute;
    left: 100px;
}
.dropdown{
    position: absolute;
    right: 100px;
}

/* -----------section1----------- */

.section1{
    /* background-image: url(//images03.nicepage.com/c461c07…/2f24512…/-min.jpg); */
    background: url(bac-image.jpg);
    background-position: 50% 50%;
    height: 120vh;
}
.section1 h1{
    font-size: 10em;
    font-weight: 700;
}
.section1 h2{
    font-weight: 400;
    font-size: 2.2em;
    letter-spacing: 1px;
}
.section1 p{
    font-family: sans-serif;
    letter-spacing: 2px;
}
.section1 p a{
    text-decoration: none;
    color: #fff;
}
.link1{
    text-decoration: none;
    color: white;
    position: relative;
}
.link1::after{
    content: "";
    background: white;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.link1:hover::after{
    width: 0;
}
.section1 .btn, .section5 .btn{
    border-radius: 0px;
    padding: 15px 50px;
    font-size: 1em;
    font-weight: 500;
    background: rgb(255, 255, 53);
}
.section1 .btn:hover,.section5 .btn:hover {
    background: lightcyan;
}

/* ----------section2--------- */

.section2{
    height: 100vh;
}
.section2 .text-div{
    margin-right: 50px;
    margin-top: 250px;
    position: relative;
}
.section2 .text-div h1{
    font-size: 4em;
    color: #111;
    font-weight: 700;
}
.section2 .text-div p{
    font-size: 1.3em;
    letter-spacing: 1px;
    line-height: 40px;
}
.section2 .image-div{
    margin-top: 200px;
}
.section2 .circle-div{
    height: 300px;
    width: 300px;
    position: absolute;
    background: rgb(243, 243, 61);
    z-index: -1;
    top: -8em;
    right: 5em;
}
p .link2{
    text-decoration: none;
    color: black;
    position: relative;
}
.link2::after{
    content: "";
    background: black;
    width: 100%;
    bottom: 0px;
    left: 0;
    height: 1px;
    position: absolute;
}
.link2:hover::after{
    width: 0;
}
/* --------------Section3--------------- */

.section3{
    height: 120vh;
    position: relative;
}
.section3 .text-div .bg-light{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 170px;
    width: 580px;
    padding: 0 20px;
    margin: 5px 0;
    z-index: 1;
    position: absolute;
    left: 80px;
}
.a1{
    top: 100px;
}
.a2{
    bottom: 305px;
}
.a3{
    bottom: 100px;
}
.section3 .text-div .bg-light h4{
    font-weight: 700;
}
.section3 .image-div{
    position: relative;
}
.section3 .image-div img{
    z-index: -1;
    margin-right: -100px;
}

/* --------section4-------- */

.padding-t{
    height: 50px;
    width: 50px;
    background: #ffc107;
    /* padding: 5px 20px; */
    border-radius: 50%;
    margin-right: 15px;
}

/* ---------section5----------- */
 
.section5{
    background: url(ODAMLAR.jpg);
    height: 700px;
    
}
.mmm{
    background-color: rgba(7, 7, 7, 0.7);
    height: 100%;
}
.box001{
    margin-right: 20px;
    margin-bottom: 50px;
}
.box002{
    margin-left: 20px;
    margin-bottom: 50px;
}
.box001 h1::before{
    content: "";
    background: yellow;
    width: 300px;
    position:absolute;
    height:14px;
    bottom: -50px;
}
.box001 h1{
    width: 500px;
    font-size: 3em;
    font-weight: 400;
    position: relative;
}
.box001 p, .box002 p{
    width: 550px;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 1.5px;
}
.box001 p{
    margin-top: 100px;
}

/* -----------section6------------- */

.section6{
    height: 400px;
    position: relative;
}
.box003 h1{
    color: black;
    font-size: 2.8em;
}
.box003 p{
    font-size: 1.3em;
    width: 1110px;
}
.box003 .btn, .section8-text .btn{
        border-radius: 0px;
        padding: 15px 50px;
        font-size: 1em;
        font-weight: 500;
        background: rgb(255, 255, 53);
}
.box003 .btn:hover, .section8-text .btn:hover{
    background: black;
    color: white;
}
.aylana{
    background:rgb(255, 255, 53);
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    right: 300px;
}

/* -----------section7-------- */
.section7 .carousel-item div{
    height: 550px;
}
.section7 .carousel-item h4{
    width: 700px;
}
.section7 .carousel-item img{
    width: 150px;
    height: 150px;
    border: 7px solid yellow;
    border-radius: 50%;
}
.bg-qora{
    background: #222;
}

.bg-black{
    background: rgba(0, 0, 0,0.8);
    color: white;
}
.offcanvas-header *{
    color: white;
}
.offcanvas{
    width: 250px;
}

/* -------------section8------------ */

.sectio8{
    height: 600px;
    width: 100%;
}
.section8-text h1{
    font-size: 4em;
}
.section8-text p{
    width: 430px;
    font-size: 1.3em;
    line-height: 40px;
}
.section8-image img{
    height: 500px;
}
.section8-image {
    height: 500px;
    width: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.yellow{
    background-color: yellow;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    right: 100px;
    bottom: -20px;
}
/* -------------Contact---------------- */

.contact{
    height: 750px;
    width: 100%;
    background: #292d33;
}
.contact-image{
    height: 800px;
    width: 1200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.contact-image img{
    height: 750px;
}
.contact-us {
    align-items: center;
    width: 100%;
    height: 750px;
}
.contact-us form{
    width: 650px;
}
.contact-us form input, .contact-us form #textarea {
    width: 600px;
    height: 40px;
    background: #292d33;
    border: none;
    border-bottom: 2px solid white;
    
}
.contact-us form #textarea{
    height: 120px;
}
.contact-us form #checkbox input{
    width: 15px;
    height: 13px;
}
.contact-us form #submit{
    width: 100px;
    background: rgb(255, 255, 75);
    border-bottom: none;
    height: 50px;
    font-weight: 600;
}
/* ------footer------ */
footer{
    height: 200px;
}
footer p:first-child{
    font-size: 1.3em;
}
footer a{
    color: yellow;
}
footer a:hover{
    color: yellow;
}